@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MYRIADPRO-BOLD.OTF");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MYRIADPRO-REGULAR.OTF");
  font-weight: normal;
  font-style: normal;
}

:root {
  --blue: #1c31a8;
  --yellow: #a27c2b;
  --header-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  --padding-large: 0px;
  --padding-xlarge: 50px;
  --section-spacing: 100px;
}

html {
  background-color: var(--blue);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}

.container {
  max-width: 1365px;
  margin: 0 auto;
  width: 100%;
}

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

.hidden {
  display: none !important;
}

.px-lg {
  margin: 0 2rem;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
}

.px-xl {
  margin: 0 2rem;
  padding-left: var(--padding-xlarge);
  padding-right: var(--padding-xlarge);
}

p {
  margin: 0;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
  max-width: 900px;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

ul {
  margin: 0;
  line-height: 2;
  padding-left: 1rem;
  font-weight: bold;
}

.blue {
  color: var(--blue);
}

address {
  text-transform: none;
  font-style: normal;
}

address a {
  text-decoration: underline;
  color: black;
  font-weight: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}

nav {
  max-width: 1365px;
  margin: 1rem 1rem 0;
  width: 100%;
  background-color: white;
  border-radius: 0.75rem;
  min-height: 75px;
  overflow: hidden;
  box-shadow: var(--header-shadow);
  transition: all 500ms, border-radius 500ms;
}

nav .nav-wrapper {
  display: flex;
  max-width: 1365px;
  margin: 0 auto;
  padding: 1rem 2rem;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
  column-gap: 3rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}

/* nav .mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

nav.open .mobile-menu {
  display: flex;
} */

nav.scrolled {
  max-width: 100%;
  margin: 0;
  margin-top: 0;
  border-radius: 0 0 0.75rem 0.75rem;
  transition: all 500ms, border-radius 500ms 200ms;
}

/* nav .logo {
  grid-column-start: 1;
} */

nav .menu-items {
  display: flex;
  gap: 1rem;
  min-width: max-content;
}

nav .mobile-menu-button {
  display: none;
  justify-self: end;
}

/* nav .menu-items:first-of-type {
  padding-left: 2rem;
} */

nav .menu-items a {
  display: flex;
  justify-items: center;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 2.25rem;
  align-items: center;
  font-weight: bold;
  color: var(--blue);
}

.logo span {
  color: var(--yellow);
}

.align-right {
  grid-column-start: -2;
  justify-self: end;
}

.button {
  background-color: var(--blue);
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: var(--section-spacing);
}

section.no-space {
  margin-bottom: var(--padding-xlarge);
}

section.hero {
  height: calc(50vh - 150px);
  min-height: min-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section.hero div {
  z-index: 1;
}

section.hero .content {
  color: white;
  padding-top: 200px;
  padding-bottom: 150px;
}

section.hero .content p {
  max-width: 66.666%;
}

section.hero .hero-bg-img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
  background-color: var(--blue);
}

section.hero .hero-bg-img img {
  filter: blur(4px);
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

section.hero + section.ctas {
  margin-top: -200px;
  z-index: 1;
}

section.ctas .cta-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
}

section.ctas .cta-container h2 {
  color: var(--yellow);
}

section.ctas .cta-container .cta-wrapper {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  border-bottom: 0.25rem solid var(--yellow);
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  box-shadow: var(--box-shadow);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

footer {
  background-color: #ededed;
}

footer .content {
  margin: 0 auto;
  padding: 50px var(--padding-xlarge);
  box-sizing: border-box;
  max-width: 1365px;
  display: flex;
  justify-content: space-between;
}

footer .content .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .content .left .links {
  display: flex;
  gap: 1rem;
}

footer .content .right {
  text-align: right;
}

.hidden-mobile {
  display: block;
}
.hidden-desktop {
  display: none;
}
@media (max-width: 1023px) {
  :root {
    --padding-large: 0;
    --padding-xlarge: 1rem;
    --section-spacing: 72px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  header nav {
    padding: 0;
  }
  header nav .nav-wrapper {
    padding: 0.5rem 1.25rem .75rem;
    justify-content: center;
    gap: .75rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  header nav .menu-items {
    flex-wrap: wrap;
    min-width: 0;
    justify-content: center;
    gap: 0.5rem;
  }
  header nav .mobile-menu-button {
    display: flex;
    align-items: center;
  }
  section.ctas .cta-container {
    grid-template-columns: 1fr;
  }
  footer .content {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }
  footer .content .left {
    gap: 1rem;
  }
  footer .content .left,
  footer .content .left .links,
  footer .content .right {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hidden-mobile {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  section.hero {
    height: calc(50vh - 150px);
  }
}
