@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MYRIADPRO-BOLD.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MYRIADPRO-SEMIBOLD.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MYRIADPRO-REGULAR.woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2f3f99;
  --primary-color-hover: #3648b0;
  --secondary-color: #a27c2b;
  --secondary-color-hover: #b58b30;
  --background-color: #fafafa;
  --page-width: 1500px;
  --header-height: 88px;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  scroll-padding-top: var(--header-height);
  background-color: var(--background-color);
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

.reverse {
  flex-direction: row-reverse;
}

body {
  display: flex;
  flex-direction: column;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.position-bottom {
  object-position: bottom;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  height: var(--header-height);
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  font-family: "Myriad Pro", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
}

.logo span {
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  max-width: var(--page-width);
  margin: 0 auto;
  width: 100%;
  z-index: 3;
  background-color: var(--background-color);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header ul li {
  cursor: pointer;
  font-weight: bold;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

header ul li:hover,
header ul li.active {
  color: var(--secondary-color);
}

nav .menu-toggle {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  justify-content: center;
  align-items: center;
}

nav .menu-toggle svg {
  stroke: var(--primary-color);
  grid-area: 1/1;
  transition: opacity 0.3s ease;
  width: 22px;
  height: 22px;
}

nav .menu-toggle.open .open-menu {
  opacity: 0;
  pointer-events: none;
}
nav .menu-toggle.open .close-menu {
  opacity: 1;
  pointer-events: auto;
}
nav .menu-toggle .open-menu {
  opacity: 1;
  pointer-events: auto;
}
nav .menu-toggle .close-menu {
  opacity: 0;
  pointer-events: none;
}

header .menu-slider {
  position: fixed;
  top: var(--header-height);
  right: 0;
  left: 0;
  padding: 16px 32px 32px;
  background-color: var(--background-color);
  width: 100%;
  box-sizing: border-box;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 18px;
  align-items: center;
}

header .menu-slider .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.button {
  font-size: 16px;
  font-weight: bold;
  border-radius: 100000px;
  padding: 12px 32px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: var(--primary-color-hover);
}
.btn-primary:active {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}
.btn-secondary:hover {
  background-color: var(--secondary-color-hover);
}
.btn-secondary:active {
  background-color: var(--secondary-color);
}

section {
  max-width: var(--page-width);
  margin: 0 auto;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.hero {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  min-height: calc(50vh - var(--header-height));
  background-color: var(--primary-color);
  color: white;
}

.hero .content {
  max-width: var(--page-width);
  width: 100%;
  margin: 0 auto;
  padding: 200px 32px 100px;
  z-index: 1;
}

.hero h1 {
  font-size: 42px;
  font-weight: bold;
  max-width: 1000px;
}

.hero .img {
  position: absolute;
  inset: 0;
  height: 100%;
  filter: saturate(0) opacity(0.2);
}

.hero .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.multi-column {
  display: flex;
  gap: 64px;
  padding: 72px;
}

.multi-column .wrapper,
.multi-column .img {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.multi-column .content {
  max-width: min-content;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.multi-column .content .heading h2 {
  width: max-content;
  max-width: 460px;
  font-size: 42px;
  font-weight: 600;
  color: var(--primary-color);
}
.multi-column .content .heading span {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-color);
}

.multi-column .content p {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #ababab;
}

.subsidiary {
  display: flex;
  min-height: calc(100vh - var(--header-height));
}

.subsidiary .wrapper {
  flex: 1;
  position: relative;
  background-color: var(--primary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.subsidiary .wrapper .content {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 32px 64px;
  gap: 16px;
  max-width: 600px;
}

.subsidiary .wrapper .content h3 {
  font-size: 36px;
  font-weight: 600;
}

.subsidiary .wrapper:hover .img {
  transform: scale(1.05);
}

.subsidiary .img {
  position: absolute;
  inset: 0;
  filter: saturate(0) opacity(0.2);
  transition: transform 1s ease;
}

.subsidiary .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #f2f2f2;
  padding: 50px 32px 20px;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--page-width);
}

footer .wrapper .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

footer .wrapper .contact div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

footer .wrapper .info {
  display: flex;
  gap: 48px;
  text-align: right;
}

footer .wrapper .info address {
  font-style: normal;
}

footer p,
footer a {
  font-size: 14px;
}

footer a {
  text-decoration: underline;
}

footer .copyright {
  font-size: 12px;
}

@media (max-width: 1100px) {
  :root {
    --page-width: 100%;
    --header-height: 64px;
  }
  header .menu-slider.open {
    transform: translateY(0);
  }
  header .menu-slider.open + .overlay {
    opacity: 1;
  }
  nav {
    padding: 16px 32px;
  }
  nav .menu,
  nav .button {
    display: none;
  }
  nav .menu-toggle {
    display: grid;
  }
  .logo {
    font-size: 28px;
  }
  .hero h1 {
    font-size: 28px;
  }
  .hero .content {
    padding: 100px 32px 50px;
  }
  .subsidiary .wrapper .content {
    padding: 28px;
  }
  .subsidiary .wrapper .content h3 {
    font-size: 28px;
  }
  .multi-column {
    flex-direction: column;
    padding: 28px;
    gap: 0;
  }
  .multi-column .content,
  .multi-column .content .heading h2 {
    max-width: 100%;
    min-width: 0;
  }
  .multi-column .content .heading h2 {
    font-size: 28px;
  }
  .multi-column .content .heading span {
    font-size: 14px;
  }
  .subsidiary {
    flex-direction: column;
  }
  footer {
    padding: 32px 32px 20px;
    gap: 32px;
  }
  footer .wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
  }
  footer .wrapper .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
  }
}
